.call
	.call__item
		min-height: 185px
		border-bottom: 1px solid #f4f5f5
		font-size: 13px
		line-height: 16px
		color: #808790   
		+clr
	.call__text
	.call__text-date
		margin-bottom: 5px
	.call__text-strong
		font-weight: bold
		margin-bottom: 5px
		color: #485564 
		font-size: 14px	
	.call__status
		min-height: 185px
		position: relative
		float: left
		width: 2%
	.call__status-in	
		color: #FFF 
		font-size: 13px
		line-height: 13px
		font-weight: bold
		white-space: nowrap
		position: absolute
		top: 0px
		left: 0px
		+transform(rotate(-90deg))
	.call__status-nofile
		background-color: $passive-c
		.call__status-in 	
			left: -23px
			top: 82px
	.call__status-listened	
		background-color: $active_page-c
		.call__status-in 	
			left: -26px
			top: 86px
	.call__status-unlistened	
		background-color: #5d6b78
		.call__status-in 	
			left: -35px
			top: 86px							
	.call__info
		padding: 10px 10px 10px 40px 
		float: left
		width: 20%	
		+box	
	.call__user
		float: left
		width: 58%
		padding-top: 10px
		+box
		+clr
		.call__text
			padding: 0px 15px
			+box
		.call__input
			width: 47%
			margin-left: 6%
			float: left
			&:first-child
				margin-left: 0
		input, textarea
			background-color: #f6f8f9
			width: 100% 
			border: none
			padding: 3px 15px 5px
			+box
		input
			+placeholder
				font-weight: bold	
				color: #485564 
				font-size: 14px
		textarea
			resize: none	
			height: 90px	
	.call__action
		float: left
		width: 20%
		text-align: center	
		padding-top: 26px
		+box
	.call__btn
		color: #FFF
		background-color: #2ecc71
		display: inline-block
		font-size: 12px
		font-weight: bold
		line-height: 12px
		padding: 5px 15px
		margin-bottom: 5px
		+transition
		&:hover
			background-color: lighten(#2ecc71, 20%)
		&:active
			+transform(scale(0.9))
	.call__action-text
		font-size: 12px
		line-height: 12px
		font-weight: bold	
		color: #485564
	.call__action-link
		text-decoration: underline
		position: relative
		&:hover
			text-decoration: none	
		&:after
			position: absolute
			content: ""
			top: 7px
			right: -16px
			width: 0
			height: 0
			border-style: solid
			border-width: 5px 5px 0 5px
			border-color: #485564 transparent transparent transparent 
	 		 	
		